<template>
  <div
    id="goChart"
    class="something-chart"
  />
</template>

<script>
import { colorHash } from '../../utils/color-utils'
import _ from 'lodash'
import { init as SamkeyLayout } from './gojs/SamkeyLayout'

export default {
  props: {
    settlements: { type: Array, required: true }
  },
  data: self => ({
  }),
  computed: {
    settlements2 () {
      return this.settlements.map(s => Object.assign(s, {
        fromID: s.from.replace(' ', '-'),
        toID: s.to.replace(' ', '-')
      }))
    }
  },
  mounted () {
    const persons = _.uniq(_.flatMap(this.settlements, s => [s.from, s.to]))
    console.log('Persons:', persons)

    const samkeyData = {
      class: 'go.GraphLinksModel',
      nodeDataArray: [],
      linkDataArray: []
    }

    for (const name of persons) {
      samkeyData.nodeDataArray.push({
        key: name,
        text: name,
        color: colorHash.hex(name)
      })
    }
    for (const settlement of this.settlements) {
      samkeyData.linkDataArray.push({
        from: settlement.from,
        to: settlement.to,
        width: parseInt(settlement.amount)
        // color:
      })
    }

    SamkeyLayout(samkeyData)
  }
}
</script>

<style lang="sass">
.something-chart
  border: 1px solid #ccc
  min-width: 640px
  min-height: 360px

#goChart
  min-width: 650px
  min-height: 900px
</style>
