<template>
  <div class="hello q-my-sm">
    <h3>
      Welcome to
      <strong>Paymints</strong>
    </h3>
    <div class="padding">
      <div class="authentication">
        <div
          v-if="!user && !userId"
          class="auth-buttons"
        >
          <div>
            <q-btn
              color="standard"
              text-color="dark"
              @click="loginModal = true"
            >
              Login
            </q-btn>
            <!-- <q-btn
              color="primary"
              @click="registerModal = true"
            >
              Register
            </q-btn>-->
          </div>
        </div>
        <div
          v-if="user"
          class="auth-profile"
        >
          <q-btn
            color="primary"
            small
            @click="$router.push('/home')"
          >
            Go to your Overview
          </q-btn>
        </div>
      </div>

      <q-inner-loading :showing="userId && !user" />

      <!-- MODALS -->

      <q-dialog
        v-model="loginModal"
        class="auth-modal"
      >
        <q-card>
          <div class="modal-content">
            <h4>Login</h4>
            <q-btn
              v-close-popup
              class="close"
              icon="close"
              flat
              round
              dense
              @click="loginModal = false"
            />
            <div class="form">
              <div>
                <q-input
                  v-model="loginForm.email"
                  filled
                  stack-label
                  label="Your email"
                  autofocus
                  @keyup.enter="login"
                />
              </div>
              <div>
                <q-input
                  v-model="loginForm.password"
                  filled
                  stack-label
                  label="Your password"
                  type="password"
                  @keyup.enter="login"
                />
              </div>
              <div>
                <q-btn
                  v-model="loginLoad"
                  loader
                  color="primary"
                  class="full-width"
                  @click="login"
                >
                  Login
                </q-btn>
              </div>
            </div>
          </div>
        </q-card>
      </q-dialog>

      <q-dialog
        v-model="registerModal"
        class="auth-modal"
      >
        <q-card>
          <div class="modal-content">
            <h4>Register</h4>
            <q-btn
              v-close-popup
              class="close"
              icon="close"
              flat
              round
              dense
              @click="registerModal = false"
            />
            <div class="form">
              <div>
                <q-input
                  v-model="registerForm.name"
                  filled
                  stack-label
                  label="Your name"
                  autofocus
                  @keyup.enter="register"
                />
              </div>
              <div>
                <q-input
                  v-model="registerForm.email"
                  filled
                  stack-label
                  label="Your email"
                  @keyup.enter="register"
                />
              </div>
              <div>
                <q-input
                  v-model="registerForm.password"
                  filled
                  stack-label
                  label="Your password"
                  type="password"
                  @keyup.enter="register"
                />
              </div>
              <div>
                <q-btn
                  v-model="registerLoad"
                  loader
                  color="positive"
                  class="full-width"
                  @click.prevent="register"
                >
                  Confirm
                </q-btn>
              </div>
            </div>
          </div>
        </q-card>
      </q-dialog>

      <!-- <q-card
        v-if="user"
        class="block-list"
      >
        <div class="block-field">
          <q-input
            v-model="newTask"
            filled
            label="Insert your task title"
          />
          <q-btn
            :disabled="newTask.length < 3"
            color="primary"
            small
            class="add-button"
            @click.prevent="addTask"
          >
            Add Task
          </q-btn>
        </div>
        <q-list>
          <div v-if="tasks.length === 0">
            <span class="not-found">
              <q-icon name="not_interested" />
              <span>No registration for tasks</span>
            </span>
          </div>
          <div v-else>
            <q-item-label header>
              Tasks <strong>({{ tasks.length }})</strong>
            </q-item-label>
            <q-item
              v-for="item in tasks"
              :key="item.id"
            >
              <q-item-section>
                <q-item-label v-if="!item.editing">
                  {{ item.title }}
                </q-item-label>
                <q-input
                  v-if="item.editing"
                  v-model="changeTask"
                />
              </q-item-section>
              <q-item-section side>
                <q-btn-group>
                  <q-btn
                    v-if="!item.editing"
                    color="warning"
                    outline
                    small
                    @click.prevent="editTask(item)"
                  >
                    <q-icon name="edit" />
                  </q-btn>
                  <q-btn
                    v-if="item.editing"
                    color="positive"
                    small
                    @click.prevent="saveTask(item)"
                  >
                    <q-icon name="check" />
                  </q-btn>
                  <q-btn
                    color="negative"
                    outline
                    small
                    @click.prevent="removeTask(item)"
                  >
                    <q-icon name="delete" />
                  </q-btn>
                </q-btn-group>
              </q-item-section>
            </q-item>
          </div>
        </q-list>
      </q-card>-->
    </div>

    <h6>Built on:</h6>
    <img
      src="~assets/quasar-meteor-logo-full.svg"
      alt="Quasar + Meteor Starter kit"
      width="280"
    >
  </div>
</template>

<script>
// import _ from 'lodash'
import { Meteor } from 'meteor/meteor'
import { Accounts } from 'meteor/accounts-base'
import { use as useSupply } from 'vue-supply'
import { MainData } from '../supplies/MainData'
import { allSupplyGetters, errorNotify } from '../utils/utils'

export default {
  name: 'PageIndex',
  mixins: [useSupply(MainData.name)],
  data () {
    return {
      tasks: [],
      userData: [],
      newTask: '',
      registerModal: false,
      loginModal: false,
      registerLoad: false,
      loginLoad: false,
      loginForm: {
        email: '',
        password: ''
      },
      registerForm: {
        email: '',
        password: '',
        name: ''
      },
      email: ''
    }
  },
  computed: { ...allSupplyGetters(MainData) },
  created () {
    // this.$meteor.subscribe('tasks')
    // this.$meteor.tracker.autorun(() => {
    //   this.loginStatus()
    //   this.tasks = []
    // })
  },
  mounted () {
    this.userEmail()
  },
  methods: {
    userEmail () {
      // this.$meteor.tracker.autorun(() => {
      //   if (this.$meteor.userId() !== null || this.$meteor.user() !== null) {
      //     const userEmail = this.$meteor.users
      //       .find({ _id: this.$meteor.userId() }, { fields: { emails: 1 } })
      //       .map(item => {
      //         return item.emails[0].address
      //       })
      //     this.email = userEmail[0]
      //   }
      // })
    },
    logout () {
      this.$q.notify('You logged out')
      this.$meteor.logout()
      this.loggedIn = false
    },
    loginStatus () {
      if (this.$meteor.userId() !== null || this.$meteor.user() !== null) {
        this.loggedIn = true
      }
    },
    login () {
      this.loginLoad = true
      Meteor.loginWithPassword(
        this.loginForm.email,
        this.loginForm.password,
        err => {
          if (err) {
            errorNotify(err)
            this.loginLoad = false
          } else {
            this.$q.notify({
              message: 'Logged in, welcome back :)',
              color: 'positive'
            })
            this.loginLoad = false
            this.loginForm.email = ''
            this.loginForm.password = ''
            this.loginModal = false
            this.$router.push('/home')
          }
        }
      )
    },
    register () {
      this.registerLoad = true
      console.log('Accounts:', Accounts)
      Accounts.createUser(
        {
          createdAt: new Date(),
          email: this.registerForm.email,
          password: this.registerForm.password,
          profile: { name: this.registerForm.name }
        },
        (err, res) => {
          if (err) {
            errorNotify(err)
            this.registerLoad = false
          } else {
            this.$q.notify({
              message: 'You just signed up',
              color: 'positive'
            })
            this.registerLoad = false
            this.registerForm.email = ''
            this.registerForm.password = ''
            this.registerModal = false
          }
        }
      )
    }
  }
}
</script>

<style lang="stylus">
body {
  background: #f1f1f1;
}

.hello {
  text-align: center;
}

.q-item__label--header {
  text-align: left;
}

.q-field__control, .q-field {
  width: 100%;
}

.q-btn {
  margin: 0 1px;
  background: #fff;
}

.padding {
  padding: 30px;
}

.q-item__section--main {
  align-items: flex-start;
}

.q-btn-group {
  box-shadow: 0 0 0 0;
}

.title {
  text-align: left;
}

.not-found {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #888;
  padding-top: 10px;
  padding-bottom: 30px;

  .q-icon {
    font-size: 40px;
    margin-bottom: 15px;
  }
}

.block-field {
  max-width: 480px;
  margin: 0 auto;
  position: relative;
  padding: 20px;
}

.add-button {
  position: absolute;
  right: 30px;
  top: 30px;
}

.block-list {
  max-width: 480px;
  margin: 30px auto;
  background: #fff;
}

.q-if-label {
  text-align: left;
}

.auth-profile {
  strong {
    margin-right: 15px;
  }
}

.auth-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  small {
    margin-bottom: 20px;
  }
}

.modal-content {
  border-radius: 4px;
  background: #fff;
  padding: 20px;

  h4 {
    margin: 0 0 10px 0;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }

  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 10px;
  }

  .q-input {
    margin-bottom: 10px;
  }

  .q-btn {
    margin-top: 10px;
  }
}
</style>
