<template>
  <q-dialog
    :value="value"
    @input="$event === false && cancel()"
  >
    <q-card>
      <q-card-section>
        <div class="text-h6">
          Add {{ entityName }}
        </div>
      </q-card-section>

      <q-card-section>
        <q-form
          class="q-gutter-md"
          @submit="create"
        >
          <q-input
            v-if="fieldKeys.includes('title')"
            v-model="entry.title"
            filled
            label="Title"
            autofocus
          />
          <q-input
            v-if="fieldKeys.includes('name')"
            v-model="entry.name"
            filled
            label="Name"
            autofocus
          />

          <q-select
            v-if="fieldKeys.includes('payer')"
            v-model="entry.payer"
            label="Payer"
            :loading="!allReady"
            filled
            use-input
            input-debounce="0"
            :options="groupMembers"
            option-value="_id"
            option-label="name"
            new-value-mode="add-unique"
          />

          <q-select
            v-if="fieldKeys.includes('receiver')"
            v-model="entry.receiver"
            label="Receiver"
            :loading="!allReady"
            filled
            clearable
            use-input
            input-debounce="0"
            :options="groupMembers"
            option-value="_id"
            option-label="name"
            new-value-mode="add-unique"
            hint="Only if you pledged to a specific person"
          />

          <q-input
            v-if="fieldKeys.includes('amount')"
            v-model="entry.amount"
            label="Amount"
            filled
            mask="#.##"
            fill-mask
            reverse-fill-mask
            input-class="text-right"
            suffix="€"
          />

          <q-input
            v-if="fieldKeys.includes('date')"
            v-model="entry.date"
            filled
            mask="date"
            :rules="['date']"
          >
            <template v-slot:append>
              <q-icon
                name="event"
                class="cursor-pointer"
              >
                <q-popup-proxy
                  ref="qDateProxy"
                  transition-show="scale"
                  transition-hide="scale"
                >
                  <q-date
                    v-model="entry.date"
                    @input="() => $refs.qDateProxy.hide()"
                  />
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
        </q-form>
      </q-card-section>

      <q-card-actions
        align="right"
        class="text-primary"
      >
        <q-btn
          flat
          label="Cancel"
          @click="cancel()"
        />
        <q-btn
          flat
          color="primary"
          label="Create"
          @click="create()"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
import moment from 'moment'
import vueComponentReset from '@ianwalter/vue-component-reset'
import { use as useSupply } from 'vue-supply'
import { MainData } from '../supplies/MainData'
import { allSupplyGetters } from '../utils/utils'

const resetMixin = vueComponentReset(function () {
  return {
    entry: {
      date: moment().format('YYYY/MM/DD'),
      payer: this.myPerson // TODO: doesn't work on first open :/ - workaround in watcher
    }
  }
})

export default {
  mixins: [resetMixin, useSupply(MainData.name)],
  props: {
    value: Boolean, // visibility
    entityName: { type: String, required: true },
    fields: { type: Array, required: true }
  },
  computed: {
    ...allSupplyGetters(MainData),

    fieldKeys: self => self.fields.map(def => def.field)
  },
  watch: {
    value (newVal, oldVal) {
      if (!oldVal && newVal && !this.payer) this.reset() // workaround for the current person not being available on load
    }
  },
  methods: {
    cancel () {
      this.reset()
      this.$emit('input', false)
    },
    create () {
      if (!this.fieldKeys.includes('date')) delete this.entry.date
      this.$emit('result', this.entry)
      this.reset()
    }
  }
}
</script>

<style lang=sass>

</style>
