<template>
  <q-table
    v-bind="$attrs"
    :filter="filter"
    row-key="_id"
    flat
    bordered
    :pagination.sync="pagination"
    :dense="$q.screen.lt.md"
    :grid="$q.screen.xs"
  >
    <template v-slot:top-right>
      <q-input
        v-model="filter"
        standout
        dense
        debounce="100"
        placeholder="Search"
      >
        <template v-slot:append>
          <q-icon name="search" />
        </template>
      </q-input>
    </template>
  </q-table>
</template>

<script>
export default {
  name: 'BaseTable',
  data () {
    return {
      filter: '',
      pagination: {
        sortBy: 'date',
        descending: true,
        page: 1,
        rowsPerPage: 10
      }
    }
  }
}
</script>

<style lang="sass">

</style>
