<template>
  <q-tabs
    v-if="user"
    align="left"
  >
    <q-route-tab
      v-if="!user.readOnly"
      to="/home"
      label="Home"
      icon="home"
    />
    <q-route-tab
      v-if="myGroup"
      to="/expenses"
      label="Expenses"
      icon="shopping_cart"
    />
    <q-route-tab
      v-if="myGroup"
      to="/pledges"
      label="Pledges"
      :icon="(totalBalance && totalBalance >= 0) ? 'favorite' : 'favorite_border'"
    />
    <q-route-tab
      v-if="myGroup"
      to="/balances"
      label="Group balances"
      icon="group"
    />
    <q-route-tab
      v-if="user.isAdmin"
      to="/people"
      label="People"
      icon="groupwork"
    />
  </q-tabs>
</template>

<script>
import { use as useSupply } from 'vue-supply'
import { MainData } from '../supplies/MainData'
import { allSupplyGetters } from '../utils/utils'

export default {
  name: 'MainMenu',

  mixins: [useSupply(MainData.name)],
  computed: { ...allSupplyGetters(MainData) }
}
</script>

<style lang="sass">

</style>
